@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --colortextos: grey;
    --colorbotones:yellow;
    --paddingsecciones: 60px;
    --marginelementos: 40px;
    --color-black: #1b1b1b;
    --color-white: #ffffff;
    --color-coral: coral;

}
body {
    background: linear-gradient(black,red)
}
.contenedor {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: var(--paddingsecciones);
}

.menu-navegacion {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.logo {
 
    height: 100px;
  
}
.logo img {
    display: block;
    height: 100%;
}
.enlaces li {
    list-style: none;
    display: inline-block;

}
.enlaces a {
    text-decoration: none;
    color: whitesmoke;
}
.enlaces li:hover {
    cursor: pointer;
    color: #000000;
    background: rgb(102, 102, 56);
}
.container {
    background: linear-gradient(red,black);
    width: 90%;
    max-width: 1000px;
    margin: 1.6em auto;

    display: grid;
    gap: 1.6em;
    grid-template-columns: repeat(5, 1fr);
}
.container_servicios {
    background: linear-gradient(red,black);
    width: 90%;
    max-width: 1000px;
    margin: 1.6em auto;

    display: grid;
    gap: 1.6em;
    grid-template-columns: repeat(1, 1fr);
}
.container_staff {
    background: linear-gradient(red,black);
    width: 90%;
    max-width: 1000px;
    margin: 1.6em auto;

    display: grid;
    gap: 1.6em;
    grid-template-columns: repeat(5, 1fr);
}
.container > .header,
.container > .content,
.container > .sidebar,
.container > .footer,
.container > .div {
    /*background: #fff;*/
    padding: 20px;
    border: 1px solid black;
}
.container .header,
.container .footer {
    grid-column: 1/6;
    background-color: #1e272e;
    color: whitesmoke;
}


.container > .content {
    grid-column: span 3;
}

.content > .article {
    background: #807e90;
    padding: 20px;
    margin-top: 5px;
    color: #dfe6e9;
}

.content > .article h1,
.content > .article p {
    padding: 10px;
}

.container > .sidebar {
    grid-column: span 2;
    background: #485460;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container .sidebar img {
    width: 100%;
    margin-top: 15px;
}
.container > .related-post {
    background: #2d3436;
    color: whitesmoke;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;

}
.container > .related-post:hover {
    cursor: pointer;
    color: #000000;
    background: #ffffff;
}

@media screen and (max-width: 960px) {
    .header {
        text-align: center;
    }
    .container .content {
        grid-column: 1/-1;
    }
    .container .sidebar {
        grid-column: 1/-1;
    }
    .container .related-post {
        grid-column: 1/-1;
    }
    .container .galeriaItems {
        grid-column: 1/-1;
    }
}



.galeriaContainer {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    justify-content: center;
    align-items: center;
    row-gap: 15px;
    column-gap: 15px;
 
}
    .galeriaItems {
    width: 100%;
    height: 100%;
}
.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}

ul {
    list-style: none;
    padding: 0;
}

.logo {
    text-align: center;
    font-size: 3em;
}



.contact-form {
    background: #fff;
}


.contact-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: auto;
}

.contact-form form label {
    display: block;
}

.contact-form form p {
    margin: 0;
    padding: 1em;
}

.contact-form form .block {
    grid-column: 1 / 3;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: #fff;
    border-bottom: 1px solid #d63031;
}

.contact-form form button {
    background: #B70E21;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
}

.contact-form form button:hover,
.contact-form form button:focus {
    background: #d63031;
    color: #fff;
    transition: background-color 1s ease-out;
    outline: 0;
}
.contact-info {
    background: #fff;
}

.contact-info h4, .contact-info ul, .contact-info p {
    text-align: center;
    margin: 0 0 1rem 0;
}
/*@media(min-width: 700px) {
    body {
        padding: 0 4em;
    }*/
.contact-info h4,
.contact-info ul,
.contact-info p {
    text-align: left;
}
#content {
    padding: 5px;
    width: 80%;
    margin-left: 10%;
    float: left;
    background-color: rgb(129, 128, 128);
    margin-top: 5px;
}
    
    
section article {
    width: 98%;
    margin-left: 1%;
    float: left;
    margin-bottom: 10px;
    border-color: gray;
    border-width: 2px;
    border-style: solid;
    padding-bottom: 10px;
    background-color: #c9c9c9;
}
    
.card {
    width: 98%;
    background-color: rgb(211, 193, 193);
    padding: 10px;
    float: left;
    border-bottom-color: rgb(194, 194, 194);
    border-bottom-style: solid;
    border-bottom-width: 2px;
    margin-bottom: 5px;
}
    
.card__image {
    width: 45%;
    border-radius: 5px;
    float: left;
}
.card__content {
    width: 68%;
    float: left;
    padding-left: 1%;
    padding-right: 1%;
}
    
.card__title {
        color: black;
        margin-bottom: 5px;
}
    
.card__description {
        text-align: justify;
}
    
.card__btn--floatRight {
    float: right;
}
    
/*.btn {
    padding: 0.3em;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
    display: inline-block;
    width: 22%;
    border-radius: 50px;
}
.btn--success {
    background-color: #474b4e;
    border: 2px solid #474b4e;
    color: whitesmoke;
}
    
.btn--info {
    background-color: #474b4e;
    border: 2px solid #474b4e;
    color: whitesmoke;
}
    
.btn--danger {
    background-color: #474b4e;
    border: 2px solid #474b4e;
    color: whitesmoke;
}*/

